@import './bootstrap_custom.scss';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#form-top {
  margin-top: 10%;
}

.signup-form {
  margin: 0 auto;
  width: 60%;
}

.links-devise {
  margin-top: 3%;
  margin: 0 auto;
  width: 60%;
}

.links-devise a {
  color: #52595f;
  &:hover {
    color: #e6003d;
    text-decoration: none;
  }
}