<div class="header">
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>

  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li class="app-title">Family Collection <span> O'Neil Family Recipes</span></li>
       <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Breakfast</a>
         <ul class="collapse list-unstyled" id="homeSubmenu">
           <li>
              <a href="#">Smoothies</a>
            </li>
            <li>
              <a href="#">Eggs</a>
            </li>
            <li>
             <a href="#">Brunch</a>
            </li>
         </ul>
        <li>
          <a href="#">Lunch</a>
        </li>
        <li>
          <a href="#">Appetizers</a>
        </li>
        <li>
          <a href="#">Dinner</a>
        </li>
        <li>
          <a href="#">Cocktails</a>
        </li>
      </ul>
   </div>
  
</div>
    
